<section>
    {{> menu}}
    <div id="admin">
        <div id="admin-columns">
            <h1>Admin</h1>
            <div>
                <a href="/changenews">Change News</a>
            </div>
        </div>
    </div>
</section>
