<section>
    {{> menu}}
    <div id="contact">
        <div id="contact-columns">
            <div id="contact-text">
                <h1>Contact me</h1>
                <div id="contact-info">
                    <h1>Axel.ostan@gmail.com</h1>
                    <h1>+46 00 000 00 00</h1>
                    <div id="links">
                        <a href="">Intagram</a>
                        <a href="">LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
