<section>
    {{> menu}}
    <div id="home">
        <div id="home-columns">
            <div id="home-text">
                <h1>Axel Östan</h1>
                <h2>Portfolio</h2>
                <span>
                    I'm a Software Developer/Web Developer 
                    located in , Sweden. Currently on the 
                    lookout for my next big opportunity/project.
                </span>
            </div>
            <div id="home-img">
                <div>
                    <img src="/img/IMG_1928.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
