
@media only screen and (max-width: 1000px) {
    #btns{
        margin-left: 25%;
        
    }
    #home-columns{
        display: block;
    }
    #home-columns #home-text{
        margin: auto;
        width: 50%;
    }
    
    #home-columns #home-img{
        width: 50%;
        margin: auto;
        text-align: center;
    }
    #home-columns #home-img div{
        width: 100%;
    }
    #projects-columns{
        grid-template-columns: auto auto;
    }
    #projects-columns a{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #about-columns{
        display: block;     
    }
    #about-columns #about-text{
        width: 80%;
        margin: auto;
    }
    #about-columns #about-skills{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    #about-columns #about-skills{
        text-align: center;
    }
    #about-skills ul{
        display: inline-block;
    }
}

@media only screen and (max-width: 800px) {
    #projects-columns{
        width: 90%;
        grid-template-columns: auto auto;
    }
    #projects-columns a{
        height: 25vh;
        width: 35vh;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #menu div{
        width: 100%;
    }
    #home-columns #home-img{
        margin-right: 20px;
        margin-left: 20px;
        width: 60%;
        margin: auto;
        text-align: center;
    }
    #home-columns #home-img img{
        margin-top: 40px;
    }
    #project-columns #proj-frame{
        width: 100%;
    }
    #project-columns #proj-frame img{
        width: 70vh;
    }
}

@media only screen and (max-width: 600px) {
    #newsitem{
        width: 95%;
    }
    #project-columns #proj-frame img{
        width: 60vh;
    }
    #project-columns #proj-frame #img-frame{
        height: 40vh;
    }
    #projects-columns{
        grid-template-columns: auto;
    }
    #projects-columns a{
        margin: auto;
        padding-top: 20px;
    }
    #menu div a{
        margin-right: 10px;
        margin-left: 10px;
        font-size: 3vh;
    }

    #home-columns #home-text{
        margin: auto;
        width: 80%;
    }
    
    #home-columns #home-img{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    #home-columns #home-img img{
        
        height: 50vh;
    }
}
@media only screen and (max-width: 500px) {
    #btns{
        margin-left: 10%;
        
    }
    #project-columns #proj-frame img{
        width: 50vh;
    }
    #project-columns #proj-frame #img-frame{
        height: 35vh;
    }
    #menu div a{
        font-size: 2vh;
        margin-right: 5px;
        margin-left: 5px;
    }
    #about-columns #about-text{
        width: 90%;
        
    }
    #about-columns #about-text h2{
        font-size: 2.5vh;
    }
    #about-columns #about-text span{
        font-size: 2vh;
    }
}